body {
    background-color: hsl(207, 26%, 17%);
}

.cabecalho {
    background-color: hsl(209, 23%, 22%);
    margin: 0 auto;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.459);
}

.informacoes{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.3rem 0rem;
    max-width: 1440px;
    margin: 0 auto;
    width: 90%;
}

.principal {
    width: 90%;
    margin: 0 auto;
}

h1 {
    font-size: 1.5rem;
    color: white;
}

.tema {
    color: white;
    font-weight: bold;
    font-size: 30px;
}

.search{
    background-color: hsl(209, 23%, 22%);
    border: none;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 0px 15px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.459);
}

.search:focus-within {
    border: 1px solid #ffffff;
}

.search input{
    width: 300px;
    padding: 10px 20px;
    border-radius: 6px;
    background-color: hsl(209, 23%, 22%);
    border: none;
    outline: none;
    box-shadow: none;
    color: white;
}

#input::placeholder {
    color: hsl(0, 100%, 100%);
}

.busca {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0;
    max-width: 1440px;
    margin: 0 auto;
}

#region {
    background-color: hsl(209, 23%, 22%);
    border: none;
    color: white;
    padding: 15px 40px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.459);
    border-radius: 6px;
}


.paises {

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
}


.pais img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    flex-shrink: 0;
}

.pais {
    height: 340px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    overflow: hidden;
    transition: .2s ease-out;
    cursor: pointer;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.459);
}

.pais:hover {
    box-shadow: 0px 0px 9px 2px white;
    height: 355px;
}

.details {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: hsl(209, 23%, 22%);
    width: 100%;
    height: 100%;
    padding: 0px 30px;
    color: white;

}

h3 {
    margin-bottom: 15px;
}

p {
    font-size: .8rem;
}
.btn-back{
    background-color: hsl(209, 23%, 22%);
    border: none;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 7px 50px;
    gap: 5px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.459);
    cursor: pointer;
    transition: .2s ease-out;
}

.btn-back:hover{
    box-shadow: 0px 0px 8px 0px white;
    padding: 7px 55px;
}

.esconder{
    display: none;
}