body {
    background-color: var(--gray-200);
    cursor: default;
}

.cabecalho {
    background-color: var(--gray-100);
    margin: 0 auto;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.459);
}

.informacoes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.3rem 0rem;
    max-width: 1440px;
    margin: 0 auto;
    width: 90%;
}

.principal {
    width: 90%;
    margin: 0 auto;
}

.title {
    font-size: 1.5rem;
    color: var(--gray-300);
}

.tema {
    font-weight: bold;
    font-size: 15px;
    background-color: inherit;
    border: none;
    width: 10%;
    height: 30px;
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: var(--gray-300);
}

.tema img {
    height: 15px;
}

.search {
    background-color: var(--gray-100);
    border: none;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--gray-300);
    padding: 0px 15px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.459);
}

.search:focus-within {
    border: 1px solid var(--gray-300);
}

.search input {
    width: 300px;
    padding: 10px 20px;
    border-radius: 6px;
    background-color: var(--gray-100);
    border: none;
    outline: none;
    box-shadow: none;
    color: var(--gray-300);
}

#input::placeholder {
    color: var(--gray-300);
}

.busca {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0;
    max-width: 1440px;
    margin: 0 auto;
}

.filter {
    position: relative;
    background-color: var(--gray-100);
    border: none;
    color: var(--gray-300);
    width: 200px;
    padding: 15px 15px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.459);
    border-radius: 6px;
    list-style: none;
    position: relative;
    cursor: pointer;
}

.filter:hover {
    box-shadow: 0px 0px 8px 0px var(--gray-300);
    transition: .2s ease-in;
}

.filter-btn {
    display: flex;
    justify-content: space-between;
}

.filter-list {
    position: absolute;
    background-color: var(--gray-100);
    top: 110%;
    left: 0;
    width: 100%;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.459);
    border-radius: 6px;
    width: 100%;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.filter-list li {
    padding: 10px 20px;
    transition: 0, 3s ease-in;
}

li:hover {
    box-shadow: 0px 0px 8px 0px var(--gray-300);
    border-radius: 6px;
    font-size: 1.1em;
}


.paises {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
}


.pais img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    flex-shrink: 0;
}

.pais {
    height: 340px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    overflow: hidden;
    transition: .2s ease-out;
    cursor: pointer;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.459);
}

.pais:hover {
    box-shadow: 0px 0px 8px 0px var(--gray-300);
    height: 355px;
    transition: .1s ease-in;
}

.details {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: var(--gray-100);
    width: 100%;
    height: 100%;
    padding: 0px 30px;
    color: var(--gray-300);
}

h3 {
    margin-bottom: 15px;
}

p {
    font-size: .8rem;
    font-weight: 500;
}

p span {
    font-weight: 200;
}

.btn-back {
    background-color: var(--gray-100);
    border: none;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--gray-300);
    padding: 7px 50px;
    gap: 5px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.459);
    cursor: pointer;
}

.btn-back:hover {
    box-shadow: 0px 0px 8px 0px var(--gray-300);
    padding: 7px 55px;
    transition: .1s ease-in;
}

.esconder {
    display: none;
}

.pSelecionado {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    width: 100%;
    max-width: 1440px;
    justify-content: space-between;
    margin-top: 30px;
}

.container h1 {
    color: var(--gray-300);
    margin-left: 30px;
}

.tema:hover {
    box-shadow: 0px 0px 8px 0px var(--gray-300);
}

.imagem-detalhe {
    width: 40%;
}

.imagem-detalhe img {
    width: 120%;
    height: 100%;
}

.informacaoPais {
    display: flex;
    justify-content: center;
    width: 50%;
    flex-direction: column;
}

.informacaoPais div p {
    color: var(--gray-300);
}

.countries {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.info {
    margin-top: 25px;
    display: flex;
    margin-left: 30px;
    gap: 50px;
}

.infoEsquerda, .infoDireita{
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.countries {
    display: flex;
    margin-left: 30px;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}
.countries p {
    white-space: nowrap;
}

.border-item, .border {
    margin: 5px 5px;
    padding: 5px 15px;
    border-radius: 6px;
    background-color: var(--gray-100);
    color: var(--gray-300);
    font-size: .9rem;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.459);
}

.border-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}

.informacaoPais h1 {
    color: var(--gray-300);
}