:root {
    --gray-100: hsl(209, 23%, 22%);
    --gray-200: hsl(207, 26%, 17%);
    --gray-300:hsl(0, 0%, 99%);
    --gray-400: hsl(0, 0%, 50%);
}


:root[data-theme="light"]{
    --gray-100:hsl(0, 100%, 100%);
    --gray-200:hsl(0, 0%, 99%);
    --gray-300: hsl(200, 15%, 8%);
}